/*======================= GOOGLE FONTS =====================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --white-color: hsl(0, 0%, 100%);
    --black-color: hsl(0, 0%, 0%);
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Poppins", sans-serif;
    --h1-font-size: 1.75rem;
    --normal-font-size: 1rem;
    --small-font-size: .813rem;
    /*========== Font weight ==========*/
    --font-medium: 500;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

h1 {
    font-size: 40px;
    color: white;
    text-align: center;
    padding: 10px;
}

body {
    background-color: #000835;
    height: 100%;
    display: grid;
    place-items: center;
    color: #ededed;
    padding-top: 90px;
   overflow-y: hidden;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #00215C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.login__img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.logo {
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover {
    color: #FF1A7D;
}

.home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: url(Main\img\login-bg.jpg);
}

.skipBtn {
    margin-right: 500px; /* Adjust this value as needed */
}

/* Skip btn */

.skipBtn {
    border-radius: 5px;
    font-weight: bold;
    font-size: 21px;
    background: white;
    border: 2px solid black;
    width: 200px;
    height: 50px;
    position: relative;
    right: 250px;
    top: 40px;
}
.skipBtn::before {
    content: "";
    display: inline-block;
}
.skipBtn:hover {
    background: #FF1879;
}
.pulse-animation_skip {
    animation: pulse2 0.85s ease;
}
@keyframes pulse2 {
    0% {
        box-shadow: 0em 0em 0em 0em #FF1879;
    }
    100% {
        box-shadow: 0em 0em 0em 1.50em hsla(250,100%,75%,0);
    }
}

/* Main background */
.maincontainer {
    width: 1500px;
    height: 800px;

    background-color: hsla(0, 0%, 10%, 0.1);
    border: 2px solid var(--white-color);
    border-radius: 1rem;
    backdrop-filter: blur(8px);

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;

}

/* Play Button Container */
.playBtnContainer {
    position: relative;
    margin-top: 120px; /* Adjust this value as needed */
}

/* Play Button */
.playBtn {
    font-size: 100px;
    color: black;
    display: grid;
    place-items: center;
    height: 1em;
    width: 1em;
    border-radius: 50%;
    border: 2px solid black;
    background: white;
    cursor: pointer;
    transition: 0.3s;
    position: absolute;
    bottom: 0; /* Position the button at the bottom of its container */
    transform: translateX(-50%); /* Center horizontally */
}

.playBtn::before {
    content: "";
    display: inline-block;
    border-left: 0.3em solid;
    border-top: 0.18em solid transparent;
    border-bottom: 0.18em solid transparent;
    margin-right: -0.08em;
}

.playBtn:hover {
    background: #FF1879;
}

.pulse-animation {
    animation: pulse 0.85s ease;
}

@keyframes pulse {
    0% {
        box-shadow: 0em 0em 0em 0em #FF1879;
    }
    100% {
        box-shadow: 0em 0em 0em 0.3em hsla(250,100%,75%,0);
    }
}

/* Submit Button */

.submitBtn {
    border-radius: 5px;
    font-weight: bold;
    font-size: 21px;
    background: white;
    border: 2px solid black;
    width: 200px;
    height: 50px;
    position: relative;
    left: 250px;
    top: 40px;
}
.submitBtn::before {
    content: "";
    display: inline-block;
}
.submitBtn:hover {
    background: #04AA6D;
}
.pulse-animation_submit {
    animation: pulse3 0.85s ease;
}
@keyframes pulse3 {
    0% {
        box-shadow: 0em 0em 0em 0em #04AA6D;
    }
    100% {
        box-shadow: 0em 0em 0em 1.50em hsla(250,100%,75%,0);
    }
}

/* guess */

.input-container {
    display: inline-block; /* Ensure that the icon and input are displayed inline */
    margin-top: -60px; /* Adjust as needed */
}

#guess {
    width: 1404px;
    font-size: 21px;
    margin-top: 100px;
    border-radius: 5px;
    border: 2px solid black;
    padding: 10px 50px;
    margin-right: 20px;
}

.fa-search {
    position: relative; /* Position the icon absolutely */
    left: 40px; /* Adjust the distance from the left */
    top: 7px; /* Adjust the distance from the left */
    transform: translateY(-50%); /* Center it vertically */
    font-size: 16px;
    color: black;
}

.fa-question-circle {
    position: relative; /* Position the icon absolutely */
    font-size: 25px;
    border: 2px solid black;
    border-radius: 50%;
    left: 300px;
}

.fa-question-circle:hover {
    color: #FF1879;
}

.headerContainer {
    display: flex;
    align-items: center;
}

.guessbox1,
.guessbox2,
.guessbox3,
.guessbox4,
.guessbox5 {
    background-color: #f0f0f0;
    padding: 10px 50px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 2px solid black;
    font-size: 21px;
    width: 1404px;
    height: 55px;
    color: black;
}

.timer {
    font-size: 30px;
    position: absolute;
    right: 640px;
    bottom: 25px;
}

.timeleft {
    font-size: 30px;
    position: absolute;
    left: 640px;
    bottom: 25px;
}

.help {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    background-color: white; /* Add white background */
    border: 2px solid black; /* Add black border */
    padding: 20px; /* Add padding for better appearance */
    width: 400px;
    height: 352px;
    color: black;
    transform: translate(137%, 23%); /* Center horizontally and vertically */
    text-align: center;
    border-radius: 5px;
}

.help.open {
    opacity: 1;
    z-index: 999;
}

.correct {
    color: green;
    font-weight: bold;
}
.incorrect {
    color: red;
}