/*======================= GOOGLE FONTS =====================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --white-color: hsl(0, 0%, 100%);
    --black-color: hsl(0, 0%, 0%);
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Poppins", sans-serif;
    --h1-font-size: 1.75rem;
    --large-font-size: 3rem;
    --normal-font-size: 1rem;
    --small-font-size: .813rem;
    /*========== Font weight ==========*/
    --font-medium: 500;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 75px;
    color: white;
}

body {
    background-color: #000835;
    height: 100vh;
    display: grid;
    place-items: center;
}

/* Play Button */

.cus_plyBtn {
    font-size: 100px;
    color: black;
    display: grid;
    place-items: center;
    height: 1em;
    width: 1em;
    border-radius: 50%;
    border: 2px solid black;
    background: white;
    cursor: pointer;
    transition: 0.3s;
}

.cus_plyBtn::before {
    content: "";
    display: inline-block;
    border-left: 0.3em solid;
    border-top: 0.18em solid transparent;
    border-bottom: 0.18em solid transparent;
    margin-right: -0.08em;
}
.cus_plyBtn:hover {
    background: #FF1879;
}
.pulse-animation {
    animation: pulse 0.85s ease;
}

@keyframes pulse {
    0% {
        box-shadow: 0em 0em 0em 0em #FF1879;
    }
    100% {
        box-shadow: 0em 0em 0em 0.3em hsla(250,100%,75%,0);
    }
}
